<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>the frisson</title>
    
    <link rel="stylesheet" type="text/css" href="static/css/petal.css">
    <link rel="stylesheet" type="text/css" href="static/css/site.css">
</head>
<body class="background">
    <header>
        <div class="container">
                <h1>welcome, to the frisson &#x1F4AB;</h1>
        </div>
    </header>
    <div class="container">

            
            <h4>Are you feeling sad today? or depressed? anxiety?</h4>
            <p><b>We</b> are here to help you feel <i>better</i> even if it's just a little bit</p>
            <p><b>How?</b> with music! &#x1F3B6;</p>
    </div>
    

</body>
<footer>
    <div class="container">
            Made with &#x2764; by <a href="http://tassan.me" target="_blank">Tassan</a>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="static/js/jquery.fs.selecter.min.js"></script>
</html>